@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto Slab', serif;
}

#container {
    max-width: 700px;
    margin: 0 auto;
}

/* Nav bar */

#nav-bar span {
    line-height: 64px; 
    text-align: center;
    padding: 0px 16px;
}

/* Tabs */

.tab {
    background: none; 
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    margin-right: 32px;
    opacity: 0.5;
}

.tab.selected {
    opacity: 1.0;
}


p {
    font-size: 20px;
    line-height: 28px;
}

#detail {
    color: green;
}

p a { 
    color: blue; 
    text-decoration: none;
}

hr {
    margin: 56px 0;
}